<footer class="footer mt-4 bg-dark text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="font-size: 0.8rem;">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="/about/org">About Data Standards Interoperability</a></li>
                            <li><a href="/about/contact">Contact</a></li>
                                <li><a href="/about/contact">License: Creative Commons 1.0</a></li>

                        </ul>
                    </div>
                    

                </div>
            </div>
            <div class="col-md-3 d-flex" style="align-items: center;justify-content: flex-end;">
                <a href="/"><img class="img-fluid float-right" src="/img/dsi.png" style="height: 50px;" /> </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="text-center">
                    <small>
                    &copy;
                    {{ now.Year }} Data Standards Interoperability. All Rights Reserved.
                    </small>
                </div>
            </div>
        </div>
    </div>
</footer>
