<header>


    <nav class="navbar navbar-expand-md navbar-light" role="navigation">
        <a class="navbar-brand" href="/"><img class="img-fluid logo" src="/img/dsi.png"></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navCollapse" style="font-size:1.0rem; font-weight:500; color:#000000;">
            <ul class="navbar-nav mr-auto" id="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about" data-name="about-sdmx">About</a>
                </li>

                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data standards</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/standards/sdmx" data-name="sdmx">SDMX / ISO 17369</a>
                        <a class="dropdown-item" href="/standards/xbrl" data-name="xbrl">XBRL</a>
                        <a class="dropdown-item" href="/standards/xbrldpm" data-name="dpm">Data Point Modelling / ISO 5166</a>
                        <a class="dropdown-item" href="/standards/iso20022" data-name="iso20022">ISO 20022</a>
                        <a class="dropdown-item" href="/standards/ddi" data-name="ddi">DDI</a>
                        <a class="dropdown-item" href="/standards/lod" data-name="lod">Linked Open Data (LOD)</a>
                        <a class="dropdown-item" href="/standards/schemadotorg" data-name="schema">schema.org</a>
                        <a class="dropdown-item" href="/standards/rdf" data-name="rdf">Resource Descriptor Framework (RDF)</a>
                        <a class="dropdown-item" href="/standards/dublincore" data-name="dublincore">Dublin Core</a>
                    </div>
                </li>
                
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Interoperability</a>
                    <div class="dropdown-menu">        
                        <a class="dropdown-item" href="/#definition" data-name="definition">Definition</a>
                        <a class="dropdown-item" href="/#matrix" data-name="definition">Comparison matrix</a>
                        <a class="dropdown-item" href="/standards/sdmx" data-name="usecases">Use cases</a>
                        <a class="dropdown-item" href="/#businesscase" data-name="usecases">Business case</a>
                  </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/dictionary" data-name="about-sdmx">Terminology translator</a>
                </li>



            </ul>
            <ul class="navbar-nav ml-auto">
                <!--                Deprecated login-->
            </ul>
        </div>
    </nav>

    <div class="hero_container">
        <img class="img-fluid" src="/img/hero.jpg" style="width:100%" />
        <div class="centered" style="font-size:4rem;">Data Standards Interoperability</div>
    </div>
</header>
